@import "../../layouts/global.scss";

// Desktop
.expertise-title {
  margin: 3rem 0;
}

.expertise-list {
  display: grid;
  grid-gap: 50px;
  margin-top: 75px;
  @include for-size(tablet-portrait-up) {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 75px;
  }
  @include for-size(phone-only) {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 50px;
  }
  .expertise-item {
    display: flex;
    align-items: center;
    font-weight: 400;
    img {
      height: 42px;
      width: 42px;
      margin-right: 1rem;
    }
  }
}
