$font-color-light: #fff;
$font-color-dark: #323648;
$font-color-darken: #6d6f7b;
$background-light: #ffffff;
$background-dark: #212121;
$brand-color-one: #ff3366;
$brand-color-two: #9013fe;
$gradient: #000;
$header-font: "Lato", sans-serif;
$sub-header-font: "Lato", sans-serif;
$text-font: "Lato", sans-serif;

@mixin for-size($range) {
  $phone-upper-boundary: 700px;
  $tablet-portrait-upper-boundary: 900px;
  $tablet-landscape-upper-boundary: 1500px;
  $desktop-upper-boundary: 1800px;

  @if $range == phone-only {
    @media (max-width: #{$phone-upper-boundary - 1}) {
      @content;
    }
  } @else if $range == tablet-portrait-up {
    @media (min-width: $phone-upper-boundary) {
      @content;
    }
  } @else if $range == tablet-landscape-up {
    @media (min-width: $tablet-portrait-upper-boundary) {
      @content;
    }
  } @else if $range == desktop-up {
    @media (min-width: $tablet-landscape-upper-boundary) {
      @content;
    }
  } @else if $range == big-desktop-up {
    @media (min-width: $desktop-upper-boundary) {
      @content;
    }
  }
}

// usage
.home-container,
.about-container,
.career-container,
.services-container,
.contact-container,
.footer {
  @include for-size(phone-only) {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  @include for-size(tablet-portrait-up) {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  @include for-size(tablet-landscape-up) {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  @include for-size(desktop-up) {
    margin-left: 10rem;
    margin-right: 10rem;
  }
  @include for-size(big-desktop-up) {
    margin-left: 15rem;
    margin-right: 15rem;
  }
}

// TYPOGRAPHY

@include for-size(phone-only) {
  h1 {
    font-size: 2rem;
  }
}
@include for-size(tablet-portrait-up) {
  h1 {
    font-size: 2.5rem;
  }
}
@include for-size(tablet-landscape-up) {
  h1 {
    font-size: 3rem;
  }
}
@include for-size(desktop-up) {
  h1 {
    font-size: 4rem;
  }
}

p,
a,
li,
span,
input,
textarea,
label,
button {
  font-family: $text-font;
  font-weight: 400;
  color: #6d6f7b;
  text-decoration: none;
  line-height: 1.75;
  font-size: 1.125rem;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 400;
  overflow: visible;
}

h1, h2, h3 {
  font-family: $header-font;
}

h4, h5, h6 {
  font-family: $sub-header-font;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: #323648;
  line-height: 1.5;
  padding: 0;
  font-weight: 900;
}

h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.5rem;
  margin: 0;
}
h6,
.sitemap-link {
  font-size: 1.15rem;
  margin: 0;
  line-height: 1.5;
  margin-bottom: 1rem;
}

hr {
  margin: 2rem 0;
  background: #434343;
}
